.header{
    height: 80px;
    background: #0079c0;
}
.hero{
    height: 250px;
    background: lime;
}
.container{
    overflow: hidden;
}
.box{
    height: 200px;
    width: 33.33%;
    float: left;
}
.green{
    background: green;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.about{
    background: cyan;
    height: 200px;
    width: 60%;
    float: left;
}
.img{
    height: 200px;
    background: rgb(255, 0, 255);
    width: 40%;
    float: right;
}
.footer{
    background: #fffb04;
    height: 70px;
}
